.buttonPropio {
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.githubButton {
    background-color: blueviolet;
}

.vimeobButton {
    background-color: dodgerblue;
}

.behanceButton {
    background-color: blue;
}

a {
    color: white;
}

a:hover {
    color: white;
    background-color: black;
}